<% provide(:title, 'Home') %>

<h1>The  <img src="http://mms.businesswire.com/bwapps/mediaserver/ViewMedia?mgid=89832&vid=2" alt="onecare logo"> Company  </h1>
<h2>Truth, Transparency, Throughput</h2>

<p>Data Analysis Forms
</p>
<p>

For a link to Pentaho <a href="http://10.0.0.90:8080/pentaho/Login">Click Here</a>.

</p>

<p>

For a link to the Database <a href="http://10.0.0.90/phpmyadmin/">Click Here</a>.

</p>

<p>

For a link to the oneCare Wiki <a href="http://10.0.0.90/mediawiki">Click Here</a>.

</p>

For Direct Deposit Forms : <a href="http://10.0.0.90:3000/direct_deposits">Click Here</a>.
 
</p>
<p>

For Payroll Forms: <a href="http://10.0.0.90:3000/payrolls">Click Here</a>.
</p>

<p>

For Payable Forms: <a href="http://10.0.0.90:3000/payables">Click Here</a>.
</p>

<p>

For Expense Report Forms: <a href="http://localhost:3000/expense_reports/new">Click Here</a>.
</p>


<p>





<%= link_to "Register New Employee", signup_path, :class => 'btn btn-large btn-primary' %>

